/* define main colors */
:root {
  --color-primary: #0088cc;
}

/* Reset css */ /* Reset css */ /* Reset css */ /* Reset css */ /* Reset css */ /* Reset css */ /* Reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Base css */ /* Base css */ /* Base css */ /* Base css */ /* Base css */ /* Base css */ /* Base css */

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  min-width: 500px;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: normal;
  text-align: center;
  height: 100%;
  position: relative;
  max-width: 500px;
}

/* Header css */ /* Header css */ /* Header css */ /* Header css */ /* Header css */ /* Header css */

.header {
  padding: 1rem;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-object {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
  cursor: pointer;
}

.header-logo {
  font-size: xx-large;
  color: var(--color-primary);
}

.header-button {
  font-size: medium;
  transition: scale 0.3s ease;
}

.header-button:hover {
  /* font-size: large; */
  color: var(--color-primary);
  scale: 1.05;
}

.header-text {
  color: #000000;
}

/* Generator css */ /* Generator css */ /* Generator css */ /* Generator css */ /* Generator css */ /* Generator css */

.generator-page 
{
  margin: 1rem 1rem 0rem 1rem;
}

.generator-page-box
{
  display: flex;
}

.generator-page-box .page:first-child {
  border-radius : 6px 0px 0px 0px 
}


.generator-page-box .page:last-child {
  border-radius : 0px 6px 0px 0px
}

.page
{
  background-color:#979797;
  padding: 0.7rem;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.page-selected 
{
  color: var(--color-primary);
  background-color: white;
}
.generator {
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius : 0px 6px 6px 6px;
  display: flex;
  flex-grow: 1;
  max-height: 280px;
  justify-content: center;
}

.generator-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.generator-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.generator-object {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
  justify-content: start;
}

.generator-status-box
{
  text-align: start;
}

.status-text {
  font-size: small;
  color: #979797;
}

.generator-dropdown-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #979797;
  cursor: pointer;
  transition: border-color 0.3s ease;
  position: relative;
  font-size: medium;
  text-align: start;
  justify-content: space-between;
}

.util-gap
{
  gap: 2.4rem;
}

.generator-dropdown-box:hover {
  border-color: var(--color-primary);
}

.dropdown-icon {
  font-size: 1rem;
  color: var(--color-primary);
}

.dropdown-menu-box {
  top: calc(100% + 0.5rem);
  left: 0;
  position: absolute;
  z-index: 100;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0px 0px 6px 6px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.menu-option {
  text-align: left;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0.5rem;
}
.menu-option:hover {
  color: var(--color-primary);
}

/* Content css */ /* Content css */ /* Content css */ /* Content css */ /* Content css */ /* Content css */

.content {
  margin: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
}

.content-control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  margin-bottom: 0.5rem;
}

.content-textarea-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.content-textarea {
  border: 1px solid #979797;
  border-radius: 6px;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #979797;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: small;
  transition: all 0.3s ease;
}
.content-button:hover {
  color: var(--color-primary);
}

/* Footer css */ /* Footer css */ /* Footer css */ /* Footer css */ /* Footer css */ /* Footer css */

.footer {
  padding: 1rem;
}

.footer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #979797;
  font-size: small;
}
.footer-link {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}

/* Settings css */ /* Settings css */ /* Settings css */ /* Settings css */ /* Settings css */ /* Settings css */

.setting {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9) 
}

.setting-box {
  min-width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
}

.setting-header-box
{
  align-items: center;
  justify-content: space-between;
}

.setting-header-text
{
  font-size: larger;
  font-weight: bold;
}

.setting-object {
  display: flex;
  gap: 0.5rem;
}

.setting-title {
  text-align: start;
  color: #979797;
  font-size: small;
}

.setting-input
{
  border: 1px solid #979797;
  border-radius: 6px;
  padding: 0.5rem;
  width: 100%;
  transition: border-color 0.3s ease;
}

.setting-input:focus
{
  border-color: var(--color-primary);
}

.setting-input:hover
{
  border-color: var(--color-primary);
}

.setting-close
{
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.setting-close:hover
{
  color: red
}

.setting-tag
{
  top: 4rem;
  left: 5rem;
  padding: 0.5rem 1rem !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem ;
  position: absolute;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-size: large;
}

.error-tag
{
  background-color: #E23636
}

.positive-tag
{
  background-color: #82DD55
}

.error-text
{
  width: 19rem;
  text-align: start;
  font-size: medium;
  color: #E23636;
}

/*Tooltip css */ /*Tooltip css */ /*Tooltip css */ /*Tooltip css */ /*Tooltip css */ /*Tooltip css */

.tooltip {
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius : 0px 6px 6px 6px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  max-height: 280px;
  overflow-y: scroll;
}

.tooltip-box{
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tooltip-object {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
  justify-content: start;
}

.tooltip-object header
{
  font-weight: bold;
  font-size: large;
}

.header-circle
{
  font-size:medium;
  color: var(--color-primary);
  padding-right: 0.5rem;
}








/* Font family css */ /* Font family css */ /* Font family css */ /* Font family css */ /* Font family css */ /* Font family css */

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Misc css */ /* Misc css */ /* Misc css */ /* Misc css */ /* Misc css */ /* Misc css */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  font-size: medium;
}

.secondary-button {
  background-color:  #979797;
  border: 1px solid #979797;
  color: white;
  font-size: medium;
}

.primary-button:hover {
  background-color: #005580;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.secondary-button:hover {
  background-color: #6e6e6e;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}


.hidden {
  display: none !important;
}

.gap-12 {
  gap: 12rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.text-color-w
{
  color: white;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.font-size-large
{
  font-size: large;
}

.text-color-black
{
  color: black;
}

.font-size-large
{
  font-size: large;
}

.flex-gap-1 
{
  gap: 1rem;
}

.pad-top-1
{
  padding-top: 1rem;
}

.justify-end
{
  justify-content: end;
}

.min-size-200
{
  min-width: 200px;
}

.text-wrap
{
  width: 130px;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}

.icon-spinner {
  animation: spin-animation 1.5s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

